// Colori

$primary-color: #1d2d3c;
$secondary-color: #2e3a46;
$third-color: #ffffff;
$fourth-color: #6a7072;

// Font
$primary-font: Arial, sans-serif;
$base-font: 16px;
$font-cd: 14px;
$font-bold: 700;
$font-normal: 400;
